@font-face {
    font-family: "Poppins";
    src: url("@/assets/font-family/Poppins-Regular.ttf");
  }
  html,
  body {
    background:#f2f6f7;
    font-family: "Poppins", sans-serif !important;
  }
  p{
    padding:none !important;
    margin:none !important;
  }